@model IEnumerable<PROYECTOVENTAS.pagoconsulta>
@using PROYECTOVENTAS.Models;
@{
    ViewBag.Title = "Index";
    Usuario usuario = (Usuario)Session["usuario"];
    string mensaje = (string)Session["mensaje"];
    Session["mensaje"] = null;

}

<!DOCTYPE html>
<html class="no-js">

<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intranet Corporativa &bull; CompuVentas</title>
    <!-- Forza al Navegador IE a utilizar el motor de Webkit -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--link rel="stylesheet" href="css/normalize.css"-->
    <link href="/Content/css1/styles.v5.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css1/responsive.css">
    <script type="text/javascript">
        var xajaxRequestUri = "index.html";
        var xajaxDebug = false;
        var xajaxStatusMessages = false;
        var xajaxWaitCursor = true;
        var xajaxDefinedGet = 0;
        var xajaxDefinedPost = 1;
        var xajaxLoaded = false;
        function xajax_checkAccess() { return xajax.call("checkAccess", arguments, 1); }
        function xajax_logout() { return xajax.call("logout", arguments, 1); }
    </script>
    <script type="text/javascript" src="/Content/inc/xajax/xajax_js/xajax.js"></script>
    <script type="text/javascript">
        window.setTimeout(function () { if (!xajaxLoaded) { alert('Error: the xajax Javascript file could not be included. Perhaps the URL is incorrect?\nURL: inc/xajax/xajax_js/xajax.js'); } }, 6000);
    </script>
</head>
<body>
    <div id="header">
        <h1>
            <img style="margin-right: 250px" src="/Content/img/logo2.png" alt="">
            @if (usuario != null)
            {
                <span style="color:black;margin-right: -380px;font-size: 20px;float: left;">Bienvenido  @usuario.nombresUsuario @usuario.apePatUsuario</span>
                <a style="float: left; font-size:15px; margin-left:250px;" href="@Url.Action("logouUsuario2", "Usuario")">Cerrar Sesión</a>
            }
            else
            {

            }

        </h1>

    </div>
    <div id="nav">

        @if (usuario != null)
        {
            if (usuario.idRol == 2)
            {
                <ul>
                    <li>
                        <img src="/Content/img/computadora.gif" alt="">
                        <a href="@Url.Action("TopClientes", "Consulta")">
                            Mantenimiento de Productos
                        </a>
                    </li>
                    <li>
                        <img src="/Content/img/cliente.gif" alt="">
                        <a href="/Content/telefonos/index.html">
                            Mantenimiento de Clientes
                        </a>
                    </li>
                    <li>
                        <img src="/Content/img/distrito.gif" alt="">
                        <a href="/Content/mananero/index.html">
                            Mantenimiento de Distritos
                        </a>
                    </li>
                    <li>
                        <img src="/Content/img/categoria.gif" alt="">
                        <a href="/Content/facturacion/verificacion.html">
                            Mantenimiento de Categorías
                        </a>
                    </li>

                </ul>
            }
            if (usuario.idRol == 3)
            {
                <ul>

                    <li>
                        <img src="/Content/img/consulta.gif" alt="">
                        <a href="@Url.Action("ConsultaPedidoxCliente", "Consulta")">
                            Consulta de Pedidos por Clientes
                        </a>
                    </li>

                    <li>
                        <img src="/Content/img/consulta.gif" alt="">
                        <a href="@Url.Action("ConsultaPedidoxProducto", "Consulta")">
                            Consulta de Pedidos por Productos
                        </a>
                    </li>


                    <li>
                        <img src="/Content/img/consulta.gif" alt="">
                        <a href="@Url.Action("Index", "Consulta")">
                            Consulta de Pedidos por comprobante
                        </a>
                    </li>

                    <li>
                        <img src="/Content/img/consulta.gif" alt="">
                        <a href="@Url.Action("TopClientes", "Consulta")">
                            Consulta de Clientes con más compras
                        </a>
                    </li>
                    <li>
                        <img src="/Content/img/consulta.gif" alt="">
                        <a href="@Url.Action("TopProductos", "Consulta")">
                            Consulta de Productos más vendidos
                        </a>
                    </li>

                </ul>
            }

        }
        else
        {
            <img width="220" height="0" />
        }

    </div>
    <div class="contenedor">

        <div class="logo_Login float-md-left">

            @using (@Html.BeginForm("ConsultaPedidoxCliente", "Consulta", FormMethod.Get))
            {
                <div class="CSSTableGenerator">
                    <fieldset>

                        <legend>Consulta de Pedido por Cliente</legend>

                        <table>
                            <tr>

                                <td>@Html.Label("Cliente")</td>
                                <td>     @Html.Label("Fecha Inicio")</td>

                                <td>  @Html.Label("Fecha Fin")</td>

                            </tr>



                            <tr>
                                <td>@Html.TextBox("producto")</td>



                                <td>@Html.TextBox("fecha")</td>


                                <td>  @Html.TextBox("fecha2")</td>
                            </tr>
                        </table>


                        <input class="btn btn-default" style="margin-right:1111px;" type="submit" value="Buscar" />


                        <input id="fecha3" name="fecha3" type="hidden" value="01/01/01">
                        <input id="fecha4" name="fecha4" type="hidden" value="12/31/3000">
                    </fieldset>
                </div>
            }

            <form target="_blank" style="margin-left:119px;" action="/Consulta/ExportReportConsultaPedidoCliente" method="get">
                <div  class="CSSTableGenerator float-sm-left " hidden="hidden">

                    @Html.TextBox("producto")

                    @Html.TextBox("fecha")

                    @Html.TextBox("fecha2")
                    <input id="fecha3" name="fecha3" type="hidden" value="01/01/01">
                    <input id="fecha4" name="fecha4" type="hidden" value="12/31/3000">

                </div>
                <br />
                <input class="btn btn-default float-md-left" type="submit" value="Export" />
            </form>

            <div class="CSSTableGenerator">
                <table>

                    <tr>
                        <td>CODIGO DE PAGO </td>
                        <td>NOMBRE </td>
                        <td>TIPO PAGO </td>
                        <td>COMPROBANTE  </td>
                        <td>FECHA  </td>
                        <td>TOTAL  </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.in_id_pago)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cliente)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.tipo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.documento)

                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.total)
                            </td>

                        </tr>

                    }
                </table>
            </div>


        </div>
    </div>
</body>
<script>
    function check1(box) {
        if (box.checked) {

            document.getElementById("checkfactura").checked = false
            document.getElementById("checkTodo").checked = false
        }
    }
    function check2(box) {
        if (box.checked) {
            document.getElementById("checkboleta").checked = false
            document.getElementById("checkTodo").checked = false
        }
    }

    function check3(box) {
        if (box.checked) {
            document.getElementById("checkboleta").checked = false
            document.getElementById("checkfactura").checked = false

        }
    }


</script>

    </div>
<div class="divider" style="display:none;"></div>
<div class="loginUsuario">

    @using (Html.BeginForm("loginUsuario2", "Usuario"))
    {

    }

</div>
<input type="hidden" name="w" id="w" />
<input type="hidden" name="h" id="h" />
		</div>
<div id="divModulos"></div>
	</div>
<!--script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script-->
<script src="/Content/js1/scripts.v2.js" type="text/javascript"></script>
<!--script>
    $(document).on("ready", function(){
        $("#btlogin").on("click", function(){
            xajax_checkAccess(getFormValues('frm'));
        });
    });
</script-->
<script language="javascript" type="text/javascript">
	    document.getElementById('w').value = window.screen.availWidth
	    document.getElementById('h').value = window.screen.availHeight
	    function checkKeyCode(evt){
	        var evt = (evt) ? evt : ((event) ? event : null);
	        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
	        if(event.keyCode==116){
	            evt.keyCode=0;
	            return false
	        }
	    }

	    $(document).ready(function () {
	        var msj = "@mensaje";
	        if (msj != null && msj != "") {
	            $("#textoMsj").html(msj);
	            $('#modalMensaje').modal({
	                backdrop: false
	            });
	        }

	        function removeElement(divId) {
	            var d = document.getElementById('divTodo');
	            var olddiv = document.getElementById(divId);
	            d.removeChild(olddiv);
	        }
	        window.onload=function() {
	            document.getElementById('txtusuario').focus();
	            //document.onkeydown = checkKeyCode;
	            if (screen.width + "x" +screen.height == "800x600") {
	                removeElement('divPie');
	            }
	        }
            <!--
            xajax.loadingFunction =
            function(){xajax.$('loadingMessage').style.display='block';};
	        function hideLoadingMessage()
	        {
	            xajax.$('loadingMessage').style.display = 'none';
	        }
	        xajax.doneLoadingFunction = hideLoadingMessage; });
	    // -->
</script>


<script>
    function chang1() {
        var sacos = document.getElementById("producto").value;
        document.getElementById("producto1").value = sacos;
    }
    function chang2() {
        var sacos = document.getElementById("fecha").value;
        document.getElementById("fecha1").value = sacos;
    }

    function chang3() {
        var sacos = document.getElementById("fecha2").value;
        document.getElementById("fecha21").value = sacos;
    }

    function chang4() {
        var sacos = document.getElementById("producto").value;
        document.getElementById("producto1").value = sacos;
    }
    function chang5() {
        var sacos = document.getElementById("fecha").value;
        document.getElementById("fecha1").value = sacos;
    }
    function chang6() {
        var sacos = document.getElementById("fecha2").value;
        document.getElementById("fecha21").value = sacos;
    }
</script>


@section Scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js">

        </script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js">

        </script>
        <script>
        $(function () {
            $("#fecha").datepicker({
                dateFormat: 'mm/dd/yy'
            });
        });
        $(function () {
            $("#fecha2").datepicker({
                dateFormat: 'mm/dd/yy'
            });
        });
    </script>
}