@model PROYECTOVENTAS.tb_producto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tb_producto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idProducto)
            @Html.ValidationMessageFor(model => model.idProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomProducto)
            @Html.ValidationMessageFor(model => model.nomProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descProducto)
            @Html.ValidationMessageFor(model => model.descProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.precioProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precioProducto)
            @Html.ValidationMessageFor(model => model.precioProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.stockProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stockProducto)
            @Html.ValidationMessageFor(model => model.stockProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idCategoria, "tb_categoria")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idCategoria", String.Empty)
            @Html.ValidationMessageFor(model => model.idCategoria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estadoProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estadoProducto)
            @Html.ValidationMessageFor(model => model.estadoProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ruta_img)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ruta_img)
            @Html.ValidationMessageFor(model => model.ruta_img)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
